#myModal-helpinfo{
	.modal-dialog{
		.modal-content{		
			height: auto;
			margin: 0 -100px;
			.modal-header{
				div{
					text-align: center;
					font-size: 4rem;
				}
			}
			.modal-body{
				background-color: #DFE8EC;
				#carousel-example-generic{
					position: relative;
					#carousel-inner-helpinfo{
						div{
								background-color: rgb(24, 31, 28);;
							}
						.item{
							img{
								display: block;
							    margin-left: auto;
							    margin-right: auto;
							}
							button{
								width: 100%;
								height: 30px;
								border: none;
								background-color: black;
								color: white;
							}	
						}
					}
				}
			}
			.modal-footer{
				.modal-footer-text{
					position: relative;
					width: 100%;
					height: auto;
					background-color: #E2EAF1;
					padding-top: 30px;
					padding-bottom: 30px;
					border-radius: 5px;
					div{
						text-align: left;
						font-size: 2rem;
						margin-right: 60px;
						margin-left: 60px;
						background-color: #E2EAF1;
					}
				}
			}
		}
	}
}
@media (max-width: 805px){
	#myModal-helpinfo{
		.modal-dialog{
			.modal-content{
				margin:0 auto;
			}
		}
	}
}