@import url("external-git.css"); 
#myModal{
	.modal-dialog{
		.modal-content{
			margin: 0 auto;
			min-width: 250px;
			max-width: 400px;
			.modal-header{
				#h1-Register{
					position: relative;
					display: none;
				}
				.h1-login-register{
					color: #000000;
					font-weight: bold;
					position: relative;
					text-align: center;
				}
			}
			.modal-body{
				padding: 15px 0 5px;
				overflow: hidden;
				background-color: #DFE8EC;
				.dialog-form{
					position: relative;
					width: auto;
					form{
						position: relative;
						display: none;
						.dialog-input{
							border-style: none;
							cursor: pointer;
							border-radius: 5px;
							font-size: 2.35rem;
							height: 35px;
							width: auto;
							margin-bottom: 10px;
							border: 1px solid #DDDDDD;
					   		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
						}
						.dialog-button{
							text-align: center;
							position: relative;
							left: -2px;
							width: 118px;
							height: 38px;
						}
						.dialog-alert{
							color: red;
							h2{
								font-size: 2.5rem;
								margin-top: 10px;
							}
						}
					}
					#login-form{
						display: block;
					}

				}
				form{
					width: auto;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 720px) {
 	#myModal{
		.modal-dialog{
			.modal-content{
				margin: 0 auto;
			}
		}
	}
}


