/* line 1, ../sass/external-git.scss */
.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color: #d0451b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

/* line 25, ../sass/external-git.scss */
.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color: #bc3315;
}

/* line 35, ../sass/external-git.scss */
.myButton:active {
  position: relative;
  top: 1px;
}

/* line 40, ../sass/external-git.scss */
.myButtonFB {
  -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
  background: -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
  background-color: #637aad;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 25px;
  text-decoration: none;
}

/* line 64, ../sass/external-git.scss */
.myButtonFB:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
  background: -moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
  background-color: #5972a7;
}

/* line 74, ../sass/external-git.scss */
.myButtonFB:active {
  position: relative;
  top: 1px;
}

/* line 78, ../sass/external-git.scss */
.myButtonFB-footer {
  text-align: center;
}

/* line 82, ../sass/external-git.scss */
.myButtonLan {
  -moz-box-shadow: inset 0px 1px 0px 0px #a6827e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a6827e;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
  background: -moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background: -webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background: -o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background: -ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
  background-color: #7d5d3b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

/* line 106, ../sass/external-git.scss */
.myButtonLan:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
  background: -moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background: -webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background: -o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background: -ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
  background-color: #634b30;
}

/* line 116, ../sass/external-git.scss */
.myButtonLan:active {
  position: relative;
  top: 1px;
}

/* line 121, ../sass/external-git.scss */
.myButtonDonate {
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
  background: -moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  background: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  background: -ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
  background-color: #fe1a00;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

/* line 147, ../sass/external-git.scss */
.myButtonDonate:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
  background: -moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background: -ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
  background-color: #ce0100;
}

/* line 157, ../sass/external-git.scss */
.myButtonDonate:active {
  position: relative;
  top: 1px;
}
