/* line 3, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content {
  height: auto;
  margin: 0 -100px;
}
/* line 7, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-header div {
  text-align: center;
  font-size: 4rem;
}
/* line 12, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-body {
  background-color: #DFE8EC;
}
/* line 14, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-body #carousel-example-generic {
  position: relative;
}
/* line 17, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-body #carousel-example-generic #carousel-inner-helpinfo div {
  background-color: #181f1c;
}
/* line 21, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-body #carousel-example-generic #carousel-inner-helpinfo .item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 26, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-body #carousel-example-generic #carousel-inner-helpinfo .item button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
}
/* line 38, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container {
  height: 50%;
  overflow: hidden;
}
/* line 41, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container {
  width: 50%;
  height: 325px;
  float: left;
  padding: 8px;
  border-right: 1px solid #E2E2E2;
  position: relative;
}
/* line 48, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa {
  padding: 10px 0;
  display: block;
  font-size: 20px;
  border-bottom: 1px dashed #E2E2E2;
  letter-spacing: 2px;
  text-align: left;
}
/* line 55, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h1, #myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h2 {
  font-size: 20px;
  margin: 0;
  display: inline-block;
  padding-left: 40px;
  width: 100%;
  margin-left: -30px;
}
/* line 62, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h1 i, #myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h2 i {
  float: left;
  font-size: 24px;
  position: relative;
  top: 0;
  height: 22px;
  display: none;
}
/* line 71, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 76, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container > .fa h2 {
  vertical-align: top;
  max-height: 120px;
  overflow: overlay;
  text-overflow: ellipsis;
}
/* line 83, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .left-container .article-date {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding-right: 20px;
}
/* line 92, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .right-container {
  width: 50%;
  height: 100%;
  float: right;
  padding: 10px 20px;
  background: #F5FFFA;
}
/* line 98, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .right-container span {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 8px 0 15px;
  letter-spacing: 8px;
}
/* line 105, ../sass/helpinfo-dialog.scss */
#myModal-helpinfo .modal-dialog .modal-content .modal-footer .article-content-container .right-container .article-text {
  font-size: 18px;
  letter-spacing: 1px;
  height: 262px;
  border: 1px dashed #E2E2E2;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  display: block;
  overflow: auto;
  text-align: left;
}

@media (max-width: 805px) {
  /* line 126, ../sass/helpinfo-dialog.scss */
  #myModal-helpinfo .modal-dialog .modal-content {
    margin: 0 auto;
  }
}
