@import url("external-git.css");
/* line 4, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content {
  margin: 0 auto;
  min-width: 250px;
  max-width: 400px;
}
/* line 9, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-header #h1-Register {
  position: relative;
  display: none;
}
/* line 13, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-header .h1-login-register {
  color: #000000;
  font-weight: bold;
  position: relative;
  text-align: center;
}
/* line 20, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body {
  padding: 15px 0 5px;
  overflow: hidden;
  background-color: #DFE8EC;
}
/* line 24, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form {
  position: relative;
  width: auto;
}
/* line 27, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form form {
  position: relative;
  display: none;
}
/* line 30, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form form .dialog-input {
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2.35rem;
  height: 35px;
  width: auto;
  margin-bottom: 10px;
  border: 1px solid #DDDDDD;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 41, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form form .dialog-button {
  text-align: center;
  position: relative;
  left: -2px;
  width: 118px;
  height: 38px;
}
/* line 48, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form form .dialog-alert {
  color: red;
}
/* line 50, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form form .dialog-alert h2 {
  font-size: 2.5rem;
  margin-top: 10px;
}
/* line 56, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body .dialog-form #login-form {
  display: block;
}
/* line 61, ../sass/index-login_register-dialog.scss */
#myModal .modal-dialog .modal-content .modal-body form {
  width: auto;
  text-align: center;
}

@media (max-width: 720px) {
  /* line 73, ../sass/index-login_register-dialog.scss */
  #myModal .modal-dialog .modal-content {
    margin: 0 auto;
  }
}
