/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/top-frame-home.scss */
body {
  font-family: "Comic Sans MS", "Microsoft JhengHei";
  font-size: 16px;
}

/* line 11, ../sass/top-frame-home.scss */
.home-header {
  position: fixed;
  z-index: 100;
  background-color: #CD5C5C;
  height: 60px;
  width: 100%;
  top: 0px;
}
/* line 19, ../sass/top-frame-home.scss */
.home-header #drop4 .glyphicon-align-justify {
  display: none;
}
/* line 23, ../sass/top-frame-home.scss */
.home-header .TL-logo-div {
  display: inline-block;
}
/* line 25, ../sass/top-frame-home.scss */
.home-header .TL-logo-div img {
  position: relative;
  border-radius: 8px;
  height: 48px;
  width: 50px;
  margin-top: 6px;
  margin-left: 80px;
}
/* line 34, ../sass/top-frame-home.scss */
.home-header .search-bar {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 3px;
  height: 30px;
}
/* line 40, ../sass/top-frame-home.scss */
.home-header .search-bar input {
  position: relative;
  width: 280px;
  display: inline-block;
  left: 3px;
  padding-right: 30px;
  height: 30px;
  letter-spacing: 1px;
}
/* line 49, ../sass/top-frame-home.scss */
.home-header .search-bar .glyphicon-search {
  font-size: 2rem;
  position: relative;
  color: #CD5C5C;
  left: -28px;
  cursor: pointer;
  top: 5px;
}
/* line 57, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown {
  display: inline-block;
  position: relative;
  left: -12px;
  padding: 4px;
  border-radius: 5px;
  background-color: #FFF;
  color: #7C1414;
  cursor: pointer;
  z-index: 2;
  box-shadow: 1px 1px 2px #727272;
  -webkit-transition: .2s linear;
}
/* line 69, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown #menu1-search {
  padding: 5px;
  width: 200px;
}
/* line 72, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown #menu1-search li {
  font-size: 2rem;
  color: #7C1414 !important;
  border-radius: 5px;
}
/* line 77, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown #menu1-search li:hover {
  background-color: #7C1414;
  color: white !important;
  border-radius: 5px;
}
/* line 82, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown #menu1-search .active {
  background-color: #7C1414;
  color: white !important;
  border-radius: 5px;
}
/* line 88, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown:hover {
  background-color: #7C1414;
  color: #FFF;
}
/* line 93, ../sass/top-frame-home.scss */
.home-header .search-bar .dropdown-icon-display {
  font-size: 20px;
  color: white;
  background-color: #F38778;
  position: relative;
  left: -23px;
  z-index: 1;
  border-radius: 5px;
  width: 40px;
  height: 100%;
  padding-left: 14px;
  top: 1px;
  display: none;
}
/* line 109, ../sass/top-frame-home.scss */
.home-header #menu1 {
  z-index: 5;
  left: 100%;
  margin-left: -162px;
  padding: 0;
}
/* line 114, ../sass/top-frame-home.scss */
.home-header #menu1 li {
  border-bottom: 1px solid #DFDFDF;
  background-color: #CD5C5C;
  cursor: pointer;
  -webkit-transition: .2s linear;
}
/* line 119, ../sass/top-frame-home.scss */
.home-header #menu1 li .function-logo {
  float: left;
  position: relative;
  right: -15px;
  top: 5px;
  cursor: pointer;
  padding-right: 20px;
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #585858;
}
/* line 130, ../sass/top-frame-home.scss */
.home-header #menu1 li h1 {
  font-size: 2rem;
  margin: 0;
  padding: 9px 0 9px 60px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fafafa;
}
/* line 138, ../sass/top-frame-home.scss */
.home-header #menu1 li:hover {
  opacity: .7;
}
/* line 144, ../sass/top-frame-home.scss */
.home-header .function-logo-div .function-logo {
  float: right;
  position: relative;
  right: 10px;
  top: -40px;
  cursor: pointer;
  padding-right: 20px;
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #585858;
}
/* line 154, ../sass/top-frame-home.scss */
.home-header .function-logo-div .function-logo:hover {
  opacity: .7;
}

/* line 160, ../sass/top-frame-home.scss */
.messageCircle-container {
  position: fixed;
  left: 100%;
  margin-left: -100px;
  z-index: 5;
  top: 100px;
  width: 100px;
}
/* line 168, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-icon {
  width: 45px;
  height: 45px;
  position: relative;
  background-color: #423b35;
  color: white;
  font-size: 2.5rem;
  border-radius: 50%;
  float: right;
  padding: 10px 9px;
  cursor: pointer;
  right: 12px;
}
/* line 180, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-icon:hover {
  background-color: white;
  color: #423b35;
}
/* line 185, ../sass/top-frame-home.scss */
.messageCircle-container .fa-chevron-left {
  padding: 11px;
}
/* line 188, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container {
  position: relative;
  float: right;
  right: 5px;
  top: 5px;
}
/* line 193, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container .messageCircle-photo-people {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  display: none;
  /*&:hover{
  	-webkit-animation:shake 1s .2s ease both;
  }*/
}
/* line 200, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container .messageCircle-photo-people img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
/* line 208, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container .messageCircle-photo-people div {
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: black;
  z-index: 1;
  font-size: 2.6rem;
  padding: 9px 10px;
  color: white;
  border-radius: 50%;
  opacity: .8;
  right: 55px;
  top: -19px;
  display: none;
}
/* line 222, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container .messageCircle-photo-people div:hover {
  background-color: white;
  color: black;
}
/* line 227, ../sass/top-frame-home.scss */
.messageCircle-container .messageCircle-photo-container .messageCircle-photo-people .messageCircle-fa-times {
  top: 35px;
  padding: 10px 12px;
}

@media (max-width: 850px) {
  /* line 241, ../sass/top-frame-home.scss */
  .home-header #drop4 .glyphicon-align-justify {
    float: right;
    display: inline;
    color: white;
    background-color: #CD5C5C;
    border: none;
    top: 15px;
    margin-right: 20px;
    font-size: 2.0rem;
  }
  /* line 252, ../sass/top-frame-home.scss */
  .home-header #TL-logo {
    margin-left: 30px;
  }
  /* line 255, ../sass/top-frame-home.scss */
  .home-header .function-logo-div {
    display: none;
  }
  /* line 257, ../sass/top-frame-home.scss */
  .home-header .function-logo-div .function-logo {
    float: left;
    position: relative;
    top: -10px;
    margin-left: 10px;
  }
}
