@import url("external-git.css");
/* line 3, ../sass/travel-home.scss */
.travelHome-container {
  display: none;
}
/* line 5, ../sass/travel-home.scss */
.travelHome-container .travelHome-header {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
/* line 9, ../sass/travel-home.scss */
.travelHome-container .travelHome-header span {
  background: #000;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  width: 50px;
  line-height: 50px;
  text-align: center;
  opacity: .8;
  display: inline-block;
  margin: 0 -5px;
  position: relative;
}
/* line 22, ../sass/travel-home.scss */
.travelHome-container .travelHome-header span:nth-child(2), .travelHome-container .travelHome-header span:nth-child(4) {
  background: #fff;
  color: #000;
  opacity: 1;
}
/* line 29, ../sass/travel-home.scss */
.travelHome-container .country-index {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
}
/* line 36, ../sass/travel-home.scss */
.travelHome-container .country-index .country-search {
  width: 280px;
  height: 45px;
  background: #FFF;
  margin: 0px auto;
  padding: 5px;
  border-radius: 5px;
}
/* line 43, ../sass/travel-home.scss */
.travelHome-container .country-index .country-search select {
  height: 35px;
  width: 130px;
  display: inline-block;
}
/* line 47, ../sass/travel-home.scss */
.travelHome-container .country-index .country-search select:nth-child(1) {
  float: left;
}
/* line 50, ../sass/travel-home.scss */
.travelHome-container .country-index .country-search select:nth-child(2) {
  float: right;
}
/* line 55, ../sass/travel-home.scss */
.travelHome-container .country-index .country-img {
  width: 290px;
  height: 290px;
  margin: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/* line 63, ../sass/travel-home.scss */
.travelHome-container .country-index .country-img img {
  width: 100%;
  height: 100%;
}
/* line 67, ../sass/travel-home.scss */
.travelHome-container .country-index .country-img .country-name {
  width: 290px;
  height: 290px;
  left: -290px;
  position: absolute;
  cursor: pointer;
  opacity: 1;
}
/* line 74, ../sass/travel-home.scss */
.travelHome-container .country-index .country-img .country-name div {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  position: absolute;
}
/* line 81, ../sass/travel-home.scss */
.travelHome-container .country-index .country-img .country-name h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 290px;
}
/* line 95, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content {
  margin-left: -50px;
  margin-right: -50px;
}
/* line 99, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-header h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 60px;
}
/* line 105, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body {
  background-color: #f7f7f7;
}
/* line 107, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info {
  position: relative;
  width: 100%;
  border: 2px solid #073C5F;
  border-radius: 8px;
}
/* line 113, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info .travelHome-info-header h1 {
  font-size: 2rem;
  margin: 0px;
  padding: 12px;
  background-color: #073C5F;
  color: white;
}
/* line 121, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form {
  width: 100%;
  padding: 10px;
  overflow: auto;
}
/* line 125, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-images {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
/* line 129, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-images div {
  font-size: 20rem;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
/* line 135, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-images div:hover, .travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-images img:hover {
  opacity: .5;
}
/* line 138, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-images img {
  cursor: pointer;
}
/* line 142, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags {
  position: absolute;
  width: 30px;
  float: left;
}
/* line 146, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .fa-tag {
  padding-top: 4px;
  font-size: 2.5rem;
}
/* line 150, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .fa-map-marker {
  padding-top: 11px;
  font-size: 2.8rem;
  padding-left: 3px;
}
/* line 155, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .glyphicon-phone-alt {
  padding-top: 13px;
  font-size: 2.1rem;
}
/* line 159, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .fa-users {
  padding-top: 18px;
  font-size: 2.1rem;
}
/* line 163, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .fa-heart {
  padding-top: 16px;
  font-size: 2.2rem;
}
/* line 167, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-tags .fa-pencil-square-o {
  padding-top: 165px;
  font-size: 2.4rem;
}
/* line 173, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items {
  position: relative;
  padding-left: 30px;
  width: 100%;
  float: right;
}
/* line 178, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div1 {
  width: 100%;
  padding-right: 210px;
}
/* line 182, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div1 input[type=text] {
  width: 100%;
  float: left;
  height: 30px;
  margin-bottom: 10px;
}
/* line 189, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div2 {
  width: 100%;
}
/* line 191, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div2 input[type=text] {
  width: 49.15%;
  height: 30px;
  margin-bottom: 10px;
}
/* line 196, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div2 .phone1 {
  float: left;
}
/* line 199, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-items-div2 .phone2 {
  float: right;
}
/* line 203, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items input[type=date] {
  width: 200px;
  float: right;
  height: 30px;
  margin-bottom: 10px;
}
/* line 209, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .persons-count {
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 210, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .persons-count h2 {
  font-size: 16px;
  margin: 0 10px 0 0;
  display: inline-block;
}
/* line 215, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .persons-count select {
  width: 70px;
  height: 30px;
  display: inline-block;
}
/* line 223, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items textarea {
  height: 150px;
  resize: none;
  margin-bottom: 10px;
}
/* line 228, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio {
  margin-bottom: 10px;
}
/* line 230, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio h1 {
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 0 0;
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-bottom: 10px;
}
/* line 245, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio h1 input[type=checkbox] {
  margin-right: 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
/* line 251, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio h1:hover, .travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio h1.active {
  background: #1BA09B;
  color: #fff;
}
/* line 256, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-radio h2 {
  display: block;
  margin: 0 5px 0 0;
  font-size: 16px;
  color: #A20000;
  font-weight: bold;
}
/* line 264, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items input[type=submit] {
  margin-top: 20px;
  width: 110px;
  float: right;
  height: 40px;
  margin-bottom: 0px;
}
/* line 272, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-twzipcode-address {
  width: 100%;
  float: left;
}
/* line 275, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-twzipcode-address input[name=country] {
  width: 110px;
  float: left;
  height: 30px;
  position: relative;
  margin-bottom: 10px;
}
/* line 283, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-twzipcode-address div {
  float: right;
  width: 100%;
  padding-left: 120px;
  margin-left: -120px;
  margin-bottom: 10px;
}
/* line 289, ../sass/travel-home.scss */
.travelHome-container #myModal-travelHome .modal-dialog .modal-content .modal-body .travelHome-info form .travelHome-info-items .travelHome-info-twzipcode-address div input {
  height: 30px;
}
